{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}">
<div class="question-box">
<h1>Questions</h1>

    <p><a href="q1">Plot the number of matches played per year of all the years in IPL.</a></p>
    <p><a href="q2">Plot a stacked bar chart of matches won of all teams over all the years of IPL.</a></p>
    <p><a href="q3">For the year 2016 plot the extra runs conceded per team.</a></p>
    <p><a href="q4">For the year 2015 plot the top economical bowlers.</a></p>
    <p><a href="q5">Percentage of times when toss winner was match winner</a></p>

</div>


