<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>Ques1</title>
    <style>
        #container{
            width:70%;
            margin: 0px auto;
        }
    </style>
</head>
<body>
<form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>
<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
   Highcharts.chart('container', {
       chart: {
           type: 'column'
       },
       title: {
           text: 'Top 10 Economical Bowlers'
       },
       xAxis: {
           title: {
               text: 'Bowlers'
           },
           categories: [{% for bowler in economical_bowlers %}'{{  bowler.bowler }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
       },
       yAxis: {

           title: {
               text: 'Economy'
           }
       },
       series: [{
           showInLegend: false,
           name: 'Economy',
           data: [
               {% for bowler in economical_bowlers %}{{ bowler.avg }}{% if not forloop.last %}, {% endif %}{% endfor %}
           ]
       }]
   });
</script>
</body>
</html>